@font-face {
    font-family: 'Gupter';
    src: url('../fonts/gupter/Gupter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('../fonts/roboto-flex/RobotoFlex-Variable.ttf');
    font-weight: normal;
    font-style: normal;
}