* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================== MOBILE VIEW ======================================== */
.title {
    text-align: center;
    padding: 50px 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gupter', serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.button {
    background-color: #71100F;
    font-family: 'RobotoFlex', sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    width: 90%;
    max-width: 300px;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

.button:active {
    background-color: #0e633a;
    transform: scale(1.05);
}

/* ======================================== TABLET VIEW ======================================== */

@media (min-width: 481px) {
    .title {
        font-size: 1.3rem;
    }

    .button-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .button {
        width: 45%;
        max-width: none;
        font-size: 1.1rem;
    }
}

/* ======================================== DESKTOP VIEW ======================================== */

@media (min-width: 1024px) {
    .title {
        font-size: 1.6rem;
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .button-container {
        max-width: 1000px;
        margin: 0 auto;
        gap: 25px;
    }

    .button {
        width: 40%;
        font-size: 1.1rem;
        padding: 15px;
    }

    .button:hover {
        background-color: #0e633a;
        transform: scale(1.05);
    }
}