* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================== MOBILE VIEW ======================================== */
body {
    font-family: 'RobotoFlex', sans-serif;
    overflow-x: hidden;
}

.title {
    padding: 20px 7%;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gupter', serif;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: hidden;
}

.create-container {
    width: 95%;
    max-width: 100%;
    background: white;
    padding: 20px;
    margin: 10px auto 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    line-height: 1.5;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select,
textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    outline: none;

    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #7bb661;
}

textarea {
    resize: vertical;
    margin-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

button.approve {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #7bb661;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

button.approve:active {
    background-color: #6aa452;
    transform: scale(1.03);
}

/* ======================================== TABLET VIEW ======================================== */

@media (min-width: 481px) {
    .title {
        font-size: 1.3rem;
    }

    .create-container {
        width: 90%;
        padding: 25px;
        font-size: 1.1rem;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .form-group label {
        width: 30%;
        min-width: 120px;
    }

    .form-group input,
    .form-group select {
        width: 70%;
    }

    input,
    select,
    textarea {
        font-size: 1.1rem;
    }
}

/* ======================================== TABLET VIEW ======================================== */

@media (min-width: 1024px) {
    .title {
        font-size: 1.5rem;
    }

    .create-container {
        width: 90%;
    }

    input,
    select,
    textarea {
        font-size: 1rem;
    }

    button.approve {
        font-size: 1rem;
    }

    button.approve:hover {
        background-color: #6aa452;
        transform: scale(1.03);
    }
}