/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE VIEW NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    padding: 10px;
    width: 98%;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0,0,0,0.2);
    z-index: 9999900;
}

#navbar>a:first-child img {
    width: 50px !important;
    height: auto;
}

#navbar a h1 {
    font-size: 2.4rem !important;
    font-family: 'Gupter', serif;
    margin-right: 14px;
    font-weight: normal;
}

#navbar a,
#navbar a:visited {
    text-decoration: none;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    z-index: 1001;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #71100F;
    margin: 5px 0;
}

#nav-links {
    display: flex;
    opacity: 0;
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 20px);
    margin: 0 10px;

    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);

    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;

    z-index: 1000;
}

#nav-links h3 {
    font-weight: normal;
}

#nav-links.active {
    opacity: 1;
    pointer-events: auto;
}

.nav-item {
    position: relative;
}

.nav-item-link {
    padding: 8px 16px;
    border-radius: 20px;
    transition: background 0.3s ease;
}

#navbar h3 {
    font-size: 1.15rem !important;
    font-family: 'RobotoFlex', sans-serif;
}

#nav-links .dropdown,
#nav-links h3 {
    width: 100%;
    text-align: center;
}

#nav-links .dropdown[style] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#nav-links>.dropdown:last-child {
    order: -1;
}

#nav-links a {
    display: block;
    width: 100%;
}

#nav-links img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.dropdown {
    cursor: pointer;
}

.dropdown .menu {
    display: block;

    position: static !important;
    transform: none !important;
    box-shadow: none !important;
    background: #f5f5f5;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height 0.3s ease,
        opacity 0.3s ease;
    pointer-events: none;
}

.dropdown.open .menu {
    max-height: 2560px;
    opacity: 1;
    pointer-events: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLET VIEW NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media(min-width: 600px) {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        box-sizing: border-box;
        position: sticky !important;
        top: 8px !important;
        border-radius: 36px;
    }

    #navbar>a:first-child,
    #navbar>a:nth-child(2),
    #vertical-bar {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    #navbar>a:first-child img {
        width: 65px !important;
    }

    #navbar h1 {
        font-size: 1.8rem !important;
        margin: 0 8px;
        white-space: nowrap;
    }

    #vertical-bar {
        width: 2px;
        height: 28px;
        background-color: #71100F;
        margin: 0 8px;
    }

    #nav-links .dropdown {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    #nav-links h3 {
        font-size: 0.8rem !important;
    }

    #nav-links img {
        width: 36px !important;
        height: 36px !important;
        margin-bottom: 0;
    }

    #nav-links>.dropdown:last-child {
        order: 0;
    }

    #nav-links .dropdown[style] {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #nav-links .dropdown .menu {
        max-height: none !important;
        overflow: visible !important;
        position: absolute !important;
    }

    .dropdown .menu {
        position: absolute !important;
        top: 100%;
        left: 0;

        max-height: none !important;
        overflow: visible !important;
        opacity: 0;
        clip-path: inset(0 0 100% 0);
        pointer-events: none;
    }


    .dropdown.open .menu {
        opacity: 1;
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
        pointer-events: auto;
    }

    .dropdown h3 {
        margin: 0;
    }

    #myaccount {
        padding-left: 20px;
    }

    #about-dropdown .menu,
    #myaccount .menu {
        left: auto !important;
        right: 0 !important;
        transform: none !important;
    }

    #nav-links .dropdown .menu {
        text-align: left;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SWITCH FROM HAMBURGER TO LINKS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media(min-width: 900px) {
    .hamburger {
        display: none;
    }

    #nav-links {
        display: flex !important;
        opacity: 1 !important;
        pointer-events: auto !important;
        position: relative;
        flex-direction: row;
        align-items: center;
        gap: 0 !important;
        margin-left: auto;
        background: none;
        box-shadow: none;
        padding: 0;
        width: auto;
    }

    .nav-item-link:hover {
        background: rgba(255, 52, 52, 0.15);
    }

    .dropdown .menu {
        clip-path: inset(0 0 100% 0);
        transition:
            clip-path 0.3s ease,
            opacity 0.3s ease;
    }

    .dropdown .menu a {
        font-size: 0.8rem !important;
    }

    .dropdown.open .menu {
        clip-path: inset(0 0 0 0);
    }
}

@media(min-width: 990px) {
    #nav-links h3 {
        font-size: 1rem !important;
    }

    .dropdown .menu a {
        font-size: 0.9rem !important;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DESKTOP VIEW NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media(min-width: 1080px) {
    #navbar {
        border-radius: 48px;
    }

    #navbar>a:first-child img {
        width: 90px !important;
        margin-left: 4px;
    }

    #nav-links h3 {
        font-size: 1.15rem !important;
        font-weight: normal;
    }

    .dropdown .menu a {
        font-size: 1rem !important;
    }

    #navbar a h1 {
        font-size: 2.67rem !important;
        margin: 0 8px;
    }

    #vertical-bar {
        width: 3px;
        height: 32px;
    }

    #nav-links img {
        width: 40px !important;
        height: 40px !important;
    }

    .dropdown {
        position: relative;
    }

    /* .nav-item-link:hover {
        background: rgba(255, 52, 52, 0.15);
    } */

    #about-dropdown .menu,
    #myaccount-menu {
        left: auto !important;
        right: 0 !important;
        transform: none !important;
    }
}